<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cortoon.mapper.ClassifyMapper">

    <select id="select" resultType="com.cortoon.entity.Classify">
        select * from classify
    </select>
</mapper>